html{
  min-height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background: url(/img/background.jpg) top right no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  min-height: 100%;
}
form{
  width: 60%;
  padding: 20px;
  background: white;
  margin: 2%;
}

button{
  margin: 1%;
}

.btn{
  margin: 2%;
  background-color: black;
  color: white;
}


.container{
  width: 80%;
}

.questionListCont{
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 2% 2%;
}

.questionList{
  
  display: flex;
  flex-direction: column;
}

.linkClass{
  width: 70%;
  margin: 1% 2% 1% 14%;
  padding: 0% 2% 1% 2%;
  border: 2px solid yellow;
  

  
}
.linkClass div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2% 2% 2% 2%;
}

.card{
  width: 90%;
  border: 2px solid black;
  margin: 2% 2% 2% 2%;
  padding: 0% 2% 0% 2%;
  color: white;
}

